body {
  background-color: lightblue;
  color: white;
  font-family: sf compact text, arial, sans-serif;
  margin: 10% 15%;
}

.exp-header {
  background-color: rgba(0,0,0, .2);
  font-size: 26px;
  text-transform: uppercase;
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

p {
  text-transform: uppercase;
  border-top: 3px solid grey;
}

h3 {
  border: 4px solid black;
}

.position {
  font-size: 15px;
  padding: 5px;
}

.exp {
  background-color: rgba(245,73,39, .3);
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.company {
  background-color: rgba(245,73,39);
  text-align: center;
}

.degree {
  font-size: 22px;
  text-align: center;
}

img {
  width:50%;
}

.school {
  text-align: center;
  font-size: 20px;
}
